pkgbase = gtk4sermo
	pkgdesc = GTK4 dialog window creator for shell scripts
	pkgver = 1.0.0
	pkgrel = 1
	url = https://haplo-dialog.fr
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-or-later
	makedepends = gtk4
	makedepends = vte4
	makedepends = flex
	makedepends = bison
	makedepends = autoconf
	makedepends = automake
	makedepends = pkgconfig
	depends = gtk4
	depends = vte4
	provides = gtk4sermo
	source = gtk4sermo-1.0.0.tar.gz::https://haplo-dialog.fr/pub/gtk4sermo/gtk4sermo-1.0.0.tar.gz
	sha256sums = SKIP

pkgname = gtk4sermo
