pkgbase = gtk4sermo
	pkgdesc = GTK4 dialog window creator for shell scripts
	pkgver = 1.1.3
	pkgrel = 1
	url = https://haplo-dialog.fr
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-or-later
	makedepends = gtk4
	makedepends = vte4
	makedepends = flex
	makedepends = bison
	makedepends = autoconf
	makedepends = automake
	makedepends = pkgconfig
	makedepends = texinfo
	depends = gtk4
	depends = vte4
	provides = gtk4sermo
	source = sermo-v1.1.3.tar.gz::https://gitlab.com/haplo-dialog/sermo/-/archive/v1.1.3/sermo-v1.1.3.tar.gz
	sha256sums = SKIP

pkgname = gtk4sermo
